<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 75%; margin: 0px auto; }
      .labels {
         color: red;
         background-color: white;
         font-family: "Lucida Grande", "Arial", sans-serif;
         font-size: 12px;
         font-weight: bold;
         text-align: center;
         width: 100%; 
         padding-left: 3px; padding-right: 3px;    
         border: 2px solid black;
         white-space: nowrap;
       }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLEMAPS_API_KEY %>&sensor=true"></script>
    <script type="text/javascript" src="<%= asset_path('markerWithLabel.js') %>"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script type="text/javascript">
      function initialize() {
        moves = [{"lat":41.8833121,"long":-87.6281568},{"lat":41.88451024123208,"long":-87.62787785026245},{"lat":41.88580420852682,"long":-87.62796368095093},{"lat":41.88690645629254,"long":-87.62794222327881},{"lat":41.88690645629254,"long":-87.63092483970337},{"lat":41.88690645629254,"long":-87.63255562278442},{"lat":41.88880738964271,"long":-87.63259853812866},{"lat":41.88922271208904,"long":-87.63401474448852},{"lat":41.88922271208904,"long":-87.63401474448852}]
        
        var myLatLng = new google.maps.LatLng(<%= @transporter.current_lat %>, <%= @transporter.current_long %>);
        
        var mapOptions = {
          center: myLatLng,
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        bike_north = "<%= asset_path('bike_north.png') %>"; 
        bike_west = "<%= asset_path('bike_west.png') %>";
        
        orientation = "north";
        
        var route = _.map(moves, function(num) {
          return new google.maps.LatLng(num["lat"], num["long"]);
        })
        
        var polyline = new google.maps.Polyline({
          path:route,
          strokeColor:"#0000FF",
          strokeOpacity:0.8,
          strokeWeight:3.5
        });
                            
        marker = new MarkerWithLabel({
          position: myLatLng,
          title: "whyDeliver?",
          icon: bike_north,
          labelText: "ETA: 10 minutes",
          // labelAnchor: new google.maps.Point(50, 50),
          labelClass: "labels",
          labelStyle: {opacity: 0.75}
        }); 
        
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        polyline.setMap(map);        
        marker.setMap(map);
      }
    </script>
    
    <script type="text/javascript">    
      var i = 0;
    
      int = window.setInterval(moveMap, 1500);
      
      function moveMap() {
        lat = moves[i]["lat"];
        longt = moves[i]["long"];
        
        if (i == 3) {
          marker.icon = bike_west;
        }
        
        if (i == 5) {
          marker.icon = bike_north;
        }
        
        if (i == 7) {
          marker.icon = bike_west;
        }

        
        if (i % 3  == 0) {
          map.panTo(new google.maps.LatLng(lat, longt));
        }
        
        var minutes;
        if (Math.ceil(10-(i*1.5)) < 0) {
          minutes = 0; 
        } else {
          minutes = parseInt(Math.ceil(10-(i*1.5)));
        }
        
        marker.labelText = "ETA: "+ minutes +" minutes";
          
        marker.setPosition(new google.maps.LatLng(lat, longt));
        marker.setMap(map);
                
        i++;
        
        if (i == moves.length) {
          alert("Your package has arrived", window.clearInterval(int) );
        }
      }   
    </script>
  </head>
  <body onload="initialize()">    
    <div id="map_canvas" style="width:75%; height:75%"></div>
  </body>
</html>